body {
    padding-top: 50px;
    padding-bottom: 20px;
    background-color: darkgoldenrod;
    background-image: url(../Content/Images/pattern/kobcheta.png);
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}

.daskalo{
    top: 2vw;
    left: 4vw;
    border-radius: 50%;
}

.well-footer{ 
  height: 45px;
  padding-top: 5px;
  margin-bottom: 20px;
  margin-left: 17vw;
  margin-right:12vw;
  border: 1px solid black;
  border-radius: 10px;
  border-color: white;
  color:transparent;
  display: inline-block;
}
.mamatideba{
    background-color:gainsboro;
    background: #cacaca;
}

.cvqt{
    color: orange;
    font-size: xx-large;

}

lement.style {
    width: 100%;
    height: 100%;
    display: block;
}
ul#listlatestnews li * {
   
}

.featured-video-plus.fvp-responsive .mejs-overlay, .featured-video-plus.fvp-responsive .mejs-poster {
    width: 100% !important;
    height: 100% !important;
}
.mejs-container * {
    font-family: Helvetica, Arial;
}
.mejs-overlay-play {
    cursor: pointer;
}
.mejs-overlay {
    position: absolute;
    top: 0;
    left: 0;
}
/* ----------------------- FOOTER -----------------------*/
#footer {
  width: 900px;
  margin-left: auto;
  margin-right: auto;
  background: black;

}
/* Footer Box */
.footerbox {
  float: left;
  margin-right: 20px;
  width: 210px;
}
.footerbox-1col {
  width: 880px;
}
.footerbox-2col {
  width: 420px;
}
.footerbox-3col {
  width: 285px;
}
.footerbox h4 {
  margin-bottom: 15px;
  color: #ffffff;
}
.footerbox a,
.footerbox li a {
  color: #ffffff; 
}
.footerbox a:hover {
  color: #dddddd; 
}
.footerbox ul {
  margin: 0;
  padding: 0; 
}
.footerbox ul li {
  margin: 8px 0;
  padding-bottom: 10px; 
  color: #ffffff;
  font-size: 11px;
  border-bottom: 1px dotted #cacaca;
}
.footerbox p {
  font-size: 11px;  
  line-height: 18px;
  margin-bottom: 5px;
  color: #ffffff;
}
.box-last {
  float: right;
  margin-right: 0;
}
/* Address List */
ul.addresslist {
  margin: 0;
  padding: 0;
}
ul.addresslist li  {
  line-height: 18px;
  margin: 0px 0;
  padding-bottom: 0px;
}
.sidebarcontent ul.addresslist li {
  font-size: 12px;
  color: #666666;
  background: none;
}
.footerbox ul.social-links {
  margin: 10px 0;
  padding: 0;
  display: block;
}
.footerbox ul.social-links li {
  border: none;
  margin:0 5px 0 0;
  padding: 0;
  float: left;
}
.footerbox ul.social-links li a  {
  background: none; 
  margin: 0;
  padding: 0;
}

.footermenu {
  float: left;
  width: 500px;
  margin-left : 10px;
}
.footermenu ul {
  margin: 0;
}
.footermenu ul li {
  display: inline;
  float: left;
  margin: 6px 6px 6px 10px;
}
.footermenu ul li a {
  color: #eaeaea;
  font-size: 11px; 
  padding-right: 15px;
  border-right: 1px dotted #cacaca;
}
.footermenu ul li a:hover {
  color: #ffffff; 
}
/* Copyright */
.copyright {
  width: 300px;
  display: block;
  text-align: right;
  float: right;
  margin-right: 15px;
}
.copyright p {
  margin: 5px 0;
  color: #eaeaea;
}
.copyright p a {
  color: #ffffff;
}

/*navbar*/

.header-right{
  float: right;
  font-size:larger;
  
}
.buttons {
    color:gray; 
    background:none;
}

.buttons:hover {
    background-color:none;
    color:orange;
    background: none;
    border: none;
    outline: none;
}

#page-heading {
    
    
    width: 960px;
    height: 182px;
    top:200px;
    border-top: 4px solid ;
    border-bottom: 2px solid ;
    border-color: orange;
    background-image: url(http://128sou-sofia.info/wp-content/themes/ecobiz/images/page-heading.jpg);
   
}

.heading-text {
    padding: 15px 20px;
    width: 260px;
    height: 60px;
    position: relative;
    top: 30px;
    color:white;
    background-color: transparent;
    background-image: url(http://128sou-sofia.info/wp-content/themes/ecobiz/images/transparent.png);
    background-repeat: repeat;
    -webkit-border-top-right-radius: 8px;
    -webkit-border-bottom-right-radius: 8px;
    -moz-border-radius-topright: 8px;
    -moz-border-radius-bottomright: 8px;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
   
}



#container {
  width: 100px;
  height: 100px;
  position: relative;
}
#navi,
#infoi 
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
}
#infoi {
 
}

.maincontent{
    display:inline-block;
    width:630px;
    height: 850px;
    margin:20px;
}

.sidebarwe{
    margin-top:10px;
    margin-bottom:10px;
    padding-right:30px;
    width:241px;
    height:200px;
    float:right;
    bottom:250px;
    border-color:black;
}

.sidebar-divider {
margin:10px;
}
.actionLink {
    color: orange;
    outline: none;
    margin-left:5px;
}

.actionLink:hover {
    color:orange;
    outline:none;
}

.ngg-galleryoverview {
    overflow: hidden;
    margin-top: 10px;
    width: 100%;
    clear: both;
    display: block !important;
}

.slideshow123{
    background-image: url(http://128sou-sofia.info/wp-content/uploads/2013/03/pic1-800x344.jpg);
    width:960px;
    height:345px;
    
}

.text-zone {
    font-size:15px; 
     color:black; 
}

#span-text {
    color:black;
    font-size:17px;
}

.actionLinks{
    color:orange;
}

/* Slideshow container */
.slideshow-container {
  max-width: 1000px;
  position: relative;
  margin: auto;
}

/* Next & previous buttons */
.prev, .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 18px;
  transition: 0.6s ease;
  border-radius: 0 3px 3px 0;
}

/* Position the "next button" to the right */
.next {
  right: 0;
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover, .next:hover {
  background-color: rgba(0,0,0,0.8);
}

/* Caption text */
.text {
  color: #f2f2f2;
  font-size: 15px;
  padding: 8px 12px;
  position: absolute;
  bottom: 8px;
  width: 100%;
  text-align: center;
}

/* Number text (1/3 etc) */
.numbertext {
  color: #f2f2f2;
  font-size: 12px;
  padding: 8px 12px;
  position: absolute;
  top: 0;
}

/* The dots/bullets/indicators */
.dot {
  cursor:pointer;
  height: 13px;
  width: 13px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active, .dot:hover {
  background-color: #717171;
}

/* Fading animation */
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}

@keyframes fade {
  from {opacity: .4} 
  to {opacity: 1}
}